html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.app {
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  color: $black;
  font-family: $font;

  header, .home > *, .footer {
    padding-right: 5vw;
    padding-left: 5vw;
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}