html, body {
  margin: 0;
  padding: 0;
}

.app {
  min-height: 100vh;
  padding: 0 5vw;
  position: relative;

  color: $black;
  font-family: $font;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}