.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1em 0;
  border-top: solid 1px $dark-grey;
  margin-top: 2em;

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    span {
      text-align: right;
    }
  }
}