.hero {
  &__content {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 5em;

    h5 {
      font-size: 2em;
      margin: 0;
    }
    h1 {
      font-size: 6em;
      margin: 0;
      display: flex;
      flex-direction: column;

      span {
        &:last-child {
          margin-left: .5em;
        }
      }
    }

    @include media-breakpoint-down(xl) {
      h5 {
        font-size: 1.5em;
      }
      h1 {
        font-size: 4em;
      }
    }

    @include media-breakpoint-down(md) {
      padding: 0 1em;
    }
  }
}

