.projects {
  min-height: 100vh;
  position: relative;
  padding-bottom: 2em;
  justify-content: flex-start;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  > h1 {
    margin-bottom: 1em;
  }

  &__wrapper {
    width: 100%;

    &-link {
      width: 100%;
      cursor: pointer;
      height: auto;
      margin: 4em 0;
      padding: 1em 0;
      border-bottom: solid 1px $dark-grey;
      display: flex;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;

      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }

      h1 {
        font-family: "Le-Murmure", sans-serif;
        font-size: 5rem;
        line-height: 5rem;
        font-weight: 400;
        text-transform: uppercase;
        margin: 0;
      }

      @include media-breakpoint-down(md) {
        .linkarrow {
          display: none;
        }
      }

      &:hover {
        color: inherit;

        .linkarrow {
          color: $black;

          > .linkarrow-arrow.left {
            > .shaft {
              width: $shaft-width;
              transition-delay: 0.1s;
              background-color: $black;

              &:before,
              &:after {
                width: $arrow-head-width;
                transition-delay: 0.1s;
                background-color: $black;
              }

              &:before {
                transform: rotate(40deg);
              }

              &:after {
                transform: rotate(-40deg);
              }
            }
          }

          > .main {
            transform: translateX($shaft-width + $text-arrow-space);

            > .linkarrow-arrow.right {
              > .shaft {
                width: 0;
                transform: translateX(200%);
                transition-delay: 0;

                &:before,
                &:after {
                  width: 0;
                  transition-delay: 0;
                  transition: all 0.1s;
                }

                &:before {
                  transform: rotate(0);
                }

                &:after {
                  transform: rotate(0);
                }
              }
            }
          }
        }
      }

      img {
        display: none;
      }
    }
  }
}
