
@import "./custom/mixins/breakpoints";

@import "./custom/variables";
@import "./custom/app";

@import "./custom/basics/a";
@import "./custom/basics/span";
@import "./custom/basics/section";

@import "./custom/components/navbar";
@import "./custom/components/footer";
@import "./custom/components/hero";
@import "./custom/components/projects";
@import "./custom/components/about";
@import "./custom/components/contact";
